.weatherApp {
  margin: 50px auto;
  width: 100%;
  font-family: "Montserrat", "Source Sans Pro", Arial, Helvetica, sans-serif;
}
.card.weatherCard {
  border: 5px solid #fe3667;
  box-shadow: 5px 5px 7px rgba(93, 101, 115, 0.3);
}
.verticalLine {
  border-right: 5px solid #fe3667;
  height: 80%;
  position: absolute;
  display: block;
  top: 13%;
  left: 58%;
  border-radius: 50px;
}
.city,
.dateTime {
  line-height: 1;
  color: #fe3667;
}
.city {
  font-size: 50px;
  font-weight: bolder;
  text-transform: capitalize;
}
.dateTime {
  font-size: 30px;
}
.container-today-weather {
  margin-top: 25px;
}
.weatherLeft {
  font-size: 30px;
  color: #fe3667;
}
.todayIcon {
  font-size: 175px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #ffe167;
}
.container-right {
  text-align: center;
  margin-bottom: 0;
  line-height: 1;
}
.highLowTemps {
  line-height: 1;
  font-size: 25px;
}
.todayTemp {
  font-size: 140px;
  color: #fe3667;
}
.degrees {
  font-size: 30px;
  color: #fe3667;
}
.sunset-rise {
  margin-bottom: 0;
  font-size: 20px;
}
.container-weather-detail {
  margin-top: 25px;
}
.weatherDetail p {
  margin-bottom: 0;
  font-size: 20px;
  color: rgb(93, 101, 115);
}
.weatherDetail strong {
  color: black;
}
.heartIcon {
  color: #fe3667;
  font-size: 25px;
}
.destinationIcon {
  color: #5d6373;
  font-size: 23px;
}

.input-group-addon {
  position: absolute;
}

.container-forecast .text p {
  margin-bottom: 0;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}
.degrees2 {
  font-size: 20px;
}

.container-days-forecast .card {
  margin-bottom: 10px;
  border: 2px solid rgba(93, 101, 115, 0.7);
  box-shadow: 2px 2px 7px rgba(93, 101, 115, 0.3);
}
.cardDay .row .date {
  padding-right: 0;
}
.cardDay .row .day {
  padding: 0;
}

.date {
  font-size: 25px;
  text-align: left;
  color: #fe3667;
}
.day {
  font-size: 30px;
  text-align: left;
  color: #fe3667;
  font-weight: bolder;
}
.weather .fas {
  font-size: 34px;
}
.highLow {
  font-size: 17px;
  color: #fe3667;
}
.fa-cloud {
  color: #b9bbc7;
}
.fa-cloud-sun {
  color: #ffe167;
}
.fa-cloud-rain {
  color: #71bfcf;
}
#coder-wrapper {
  background: #fe3667;
  color: #fff;
  font-family: Camber, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
}
.coder-links {
  max-width: 40px;
  filter: invert(100%);
}
#coder-socials {
  text-align: right;
}
