.weatherApp {
  margin: 25px auto;
  width: 100%;
  font-family: "Montserrat", "Source Sans Pro", Arial, Helvetica, sans-serif;
}
.card.weatherCard {
  border: 5px solid #fe3667;
  box-shadow: 5px 5px 7px rgba(93, 101, 115, 0.3);
  border-radius: 15px;
}
.verticalLine {
  border-right: 5px solid #fe3667;
  height: 80%;
  position: absolute;
  display: block;
  top: 13%;
  left: 58%;
  border-radius: 50px;
}
.city,
.dateTime {
  line-height: 1;
  color: #fe3667;
}
.city {
  font-size: 50px;
  font-weight: bolder;
  text-transform: capitalize;
}
.dateTime {
  font-size: 30px;
}
.container-today-weather {
  margin-top: 25px;
}
.weatherLeft {
  font-size: 30px;
  color: #fe3667;
  text-transform: capitalize;
}
#today-icon {
  display: block;
  width: 200px;
  margin: 0 auto;
}
.container-right {
  text-align: center;
  margin-bottom: 0;
  line-height: 1;
}
.highLowTemps {
  line-height: 1;
  font-size: 25px;
}
.todayTemp {
  font-size: 140px;
  color: #fe3667;
}
.degrees {
  font-size: 30px;
  color: #fe3667;
}
.degrees .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.degrees .active:hover {
  text-decoration: none;
}
.sunset-rise {
  margin-bottom: 0;
  font-size: 20px;
}
.container-weather-detail {
  margin-top: 25px;
}
.weatherDetail p {
  margin-bottom: 0;
  font-size: 19px;
  color: rgb(93, 101, 115);
}
.weatherDetail strong {
  color: black;
}

.destinationIcon {
  color: #5d6373;
  font-size: 27px;
}

.input-group-addon {
  position: absolute;
}
.container-forecast .text p {
  margin-bottom: 0;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}
.degrees2 {
  font-size: 20px;
}

.date {
  font-size: 24px;
  text-align: center;
  color: #fe3667;
  margin: auto;
  font-family: "Montserrat thin 100", "Source Sans Pro", Camber, Helvetica,
    Arial;
}
.day {
  font-size: 26px;
  text-align: left;
  color: #fe3667;
  font-weight: bolder;
  margin: auto;
  font-family: "Montserrat", "Source Sans Pro", Camber, Helvetica, Arial;
}
.weather .fas {
  font-size: 34px;
}
#forecast-icon {
  width: 100%;
}
#forecast-card {
  padding: 0 0;
  margin-bottom: 8px;
  border: 2px solid rgba(93, 101, 115, 0.7);
  box-shadow: 2px 2px 7px rgba(93, 101, 115, 0.3);
  border-radius: 10px;
  background: #ffffffa9;
}

.highLow {
  font-size: 20px;
  color: #fe3667;
  margin: auto;
}

#coder {
  color: black;
  font-family: "Montserrat", "Source Sans Pro", Camber, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  text-align: Left;
  width: 100%;
}
